<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.lockwood.dwyw"
	tools:ignore="LockedOrientationActivity"
	>

	<application
		android:name="com.lockwood.dwyw.MainApplication"
		android:allowBackup="false"
		android:extractNativeLibs="true"
		android:icon="@mipmap/ic_launcher"
		android:label="Do what you want"
		android:roundIcon="@mipmap/ic_launcher"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		>

		<activity
			android:name="com.lockwood.dwyw.activity.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.Launcher"
			>

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<activity
			android:name="com.lockwood.room.RoomConnectionActivity"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			/>

		<service
			android:name="com.lockwood.room.feature.client.service.ClientForegroundService"
			android:enabled="true"
			android:exported="false"
			android:foregroundServiceType="location"
			/>

		<service
			android:name="com.lockwood.room.feature.host.service.HostForegroundService"
			android:enabled="true"
			android:exported="false"
			android:foregroundServiceType="mediaProjection"
			/>

	</application>

</manifest>