<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.lockwood.recorder"
	>

	<uses-permission android:name="android.permission.RECORD_AUDIO" />

	<application
		android:allowAudioPlaybackCapture="true"
		tools:targetApi="q"
		/>

</manifest>